<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Sites</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>http://mubi.localhost</string>
		<key>Key</key>
		<string>developmentSite</string>
		<key>Title</key>
		<string>Development site</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>https://mubi.com</string>
		<key>Key</key>
		<string>productionSite</string>
		<key>Title</key>
		<string>Production site</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
